@keyframes display {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.person-container {
  width: 170px;
  height: 250px;
  animation: display 2.5s ease-in-out 1;
  transition: all 0.3s !important;
}
.person-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}
